<header>
  
  <ul>
    <li style="float: left">
      <img src="/assets/img/logo-qempo-white.png" alt="Qempo">
    </li>
    
    <li class="login" *ngIf="!(this.sessionStore.loggedUser | async)">
      <a href="#home" (click)="loginModal($event)" >Login</a>
    </li>


    
    <li class="logout" *ngIf="this.sessionStore.loggedUser | async">
      <a href="#" (click)="logout($event)" >Logout</a>
    </li>

    <li *ngIf="this.sessionStore.loggedUser | async">
      <p>{{ (this.sessionStore.loggedUser | async).nombre }}</p>
    </li>

    
  </ul>
</header>

<template #templateLoginModal let-dialogRef="dialogRef" let-ctx="dialogRef.context">

  <button class="btn btn_fblogin" (click)="onLoginFB($event, dialogRef)" >Login FB</button>
  <hr />

  <div style="padding: 10px">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value, dialogRef)" >
      <label>Email: </label> <input type="text" [formControl]="loginForm.controls['email']" /> <br>
      <label>Password: </label> <input type="password" [formControl]="loginForm.controls['password']" /> <br>
      <input type="submit" [disabled]="!loginForm.valid || loginProcess" value="Login" />
    </form>
    <button (click)="goRegistroModal(dialogRef)">Ir al registro</button>
  </div>
</template>

<template #templateRegistroModal let-dialogRef="dialogRef" let-ctx="dialogRef.context">

  <button class="btn btn_fblogin" (click)="onLoginFB($event, dialogRef)" >Registro con FB</button>
  <hr />

  <div style="padding: 10px">
    <form [formGroup]="signUpForm" (ngSubmit)="onRegistro(signUpForm.value, dialogRef)" >
      <label>Nombres: </label> <input type="text" [formControl]="signUpForm.controls['nombres']" /> <br>
      <label>Apellidos: </label> <input type="text" [formControl]="signUpForm.controls['apellidos']" /> <br>
      <label>Email: </label> <input type="email" [formControl]="signUpForm.controls['email']" /> <br>
      <label>Password: </label> <input type="password" [formControl]="signUpForm.controls['password']" /> <br>
      <label>Confirmar Password: </label> <input type="password" [formControl]="signUpForm.controls['c_password']" /> <br>
      <input type="submit" [disabled]="!signUpForm.valid || signUpProcess" value="Registro" />
    </form>
    <button (click)="goLoginModal(dialogRef)">Ir al login</button>
  </div>
</template>