img {
  padding-top: 5px;
  width: auto;
  height: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li:last-child {
  border-right: none;
}

li a, li p {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid transparent;
}

.btn_fblogin{
  background-color: #3b5998;
  border-radius: 3px;
  -o-transition: all .3s;
  transition: all .3s;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  line-height: 1;
  padding: 11px 20px;
  border-width: 2px;
  width: 100%;
  color: white;
}

li.logout{
  background-color: #C62828;
}