/* You can add global styles to this file, and also import other style files */

/*Load all fonts*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v19/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@import url('../node_modules/vex-js/dist/css/vex.css');
@import url('../node_modules/vex-js/dist/css/vex-theme-default.css');
@import url('../node_modules/vex-js/dist/css/vex-theme-os.css');
/*@import url('../node_modules/vex-js/dist/css/vex-theme-wireframe.css');*/

/*Load all 3rd party css*/
/*@import url('assets/icons/ionicons/css/ionicons.css');
@import url('assets/icons/font-awesome/css/font-awesome.min.css');
@import url('assets/icons/pe-icon-7-stroke/css/pe-icon-7-stroke.css');
@import url('assets/icons/simple-line-icons/css/simple-line-icons.css');
@import url('assets/icons/themify-icons/themify-icons.css');
@import url('assets/icons/rivolicons/style.css');

@import url('assets/bootstrap/css/bootstrap.css');
@import url('assets/css/sweetalert.css');
@import url('assets/css/animate.css');
@import url('assets/css/cropper.css');
@import url('assets/css/jquery.raty.css');
@import url('assets/icons/pe-icon-7-stroke/css/pe-icon-7-stroke.css');

@import url('assets/css/main.less');
@import url('assets/css/component.less');
@import url('assets/css/style.less');
@import url('assets/css/qempo.less');*/

